# Node dependencies & builds
node_modules
dist
build
coverage

# Test artifacts
reports
test-results
allure-results
allure-report

# Local env
.env
.env.*
!.env.example

# Logs & temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
tmp
.cache

# VCS & editor stuff
.git
.gitignore
.github
.vscode
.idea
.DS_Store

# OS junk
Thumbs.db